@charset "utf-8";

#wrap {
    width: 100%;
}

#main_top {
    width: 100%;
}

.main_top_img img{
    width: 100%;
    height: 1080px;
    filter: grayscale(); 
}

.main_top_text:hover + .main_top_img img{
    cursor: pointer;
    filter: none;
    transition: all 0.7s ease;
} /* + 인접형제 선택자를 통해 텍스트 호버시 인접형제 내용이  변경되도록 적용함*/

.main_top_text{
    color: rgba(251,217,20);
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    z-index: 99;
    font-size: 100px;
}


